<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/error.css">
</head>
<body>
    <div class="error-card">
        <div class="error-number"><%=statusCode %></div>
        <div class="error-message"><%= message %></div>
        <% if (error && mode === 'development') { 
            console.log(error);
        } 
        %>
        <a href="/"><button class="go-back-button">Go back</button></a>
    </div>
</body>
</html>
